@using SDMetaUI.Models;
@using SDMetaUI.Services;

@if (string.IsNullOrWhiteSpace(this.Text))
{
	<img src="@File.ThumbnailUrl"
	 class="@GetClass"
	 width="@ThumbnailService.ThumbnailSize"
	 height="@ThumbnailService.ThumbnailSize"
	 @onclick="(e) => onclick.InvokeAsync(e)" />
}
else
{
	<div class="img-container">
		<HxBadge Color="ThemeColor.Info" CssClass="position-absolute bottom-0 start-50 translate-middle">@Text</HxBadge>
		<img src="@File.ThumbnailUrl"
		 class="@GetClass"
		 width="@ThumbnailService.ThumbnailSize"
		 height="@ThumbnailService.ThumbnailSize"
		 @onclick="(e) => onclick.InvokeAsync(e)" />
	</div>
}
@code {
	[Parameter]
	public PngFileViewModel File { get; set; }

	[Parameter]
	public bool Selected { get; set; }

	[Parameter]
	public bool Expanded { get; set; }

	[Parameter]
	public string Text { get; set; }

	private string GetClass => (Selected ? "selected" : "") + (Expanded ? " expanded" : "");

	[Parameter]
	public EventCallback<MouseEventArgs> onclick { get; set; }
}
