@page "/"
@using BlazorPro.BlazorSize;
@using SDMetaTool.Processors;
@using SDMetaUI.Models;
@using SDMetaTool;
@using System.IO.Abstractions;
@using System.Web;
@using SDMetaTool.Cache;
@using SDMetaUI.Services;
@using SDMetaUI.Shared;

@implements IDisposable;

@inject IPngFileDataSource pngfileDataSource
@inject Rescan rescan
@inject IConfiguration configuration;
@inject IThumbnailService thumbnailService;
@inject ILogger<Index> logger;
@inject IResizeListener resizeListener;
@inject PngFileViewModelBuilder pngFileViewModelBuilder;

<PageTitle>Gallery</PageTitle>

@if (filteredFiles == null)
{
	<div class="container" style="height: 100vh">
		<div class="d-flex align-items-center justify-content-center" style="height: 100vh">
			<div class="spinner-border" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
		</div>
	</div>
}
else
{
	<div class="container-fluid sticky-top">
		<div class="row p-2" style="position: sticky; top: 0; z-index: 1; background: rgba(128, 128, 128, 0.5); border-bottom-color: rgba(128, 128, 128, 0.75); border-bottom-width: 1px; border-bottom-style: solid;">
			<div class="col-3">
				<label class="visually-hidden" for="autoSizingInput">Filter</label>
				<input type="search" @oninput="onInputDebounced" class="form-control" id="autoSizingInput" placeholder="filter">
			</div>
			<div class="col-auto">
				<label class="visually-hidden" for="autoSizingSelect">Preference</label>
				<select class="form-select" id="autoSizingSelect" @onchange="OnSelectGroupMode">
					@foreach (var template in GroupModes)
					{
						<option value=@template>@template</option>
					}
				</select>
			</div>
			<div class="col-auto">
				<HxButton Outline="false" Icon="BootstrapIcon.ArrowClockwise" Text="Rescan" Color="ThemeColor.Primary" @onclick="Rescan" Enabled=@RescanEnabled />
			</div>
			<div class="col-auto ms-auto py-1">
				<h6>
					@if (filteredFiles.Count < allFiles.Count)
					{
						<text>
							@filteredFiles.Count of
						</text>
					}
					@allFiles.Count items
				</h6>
			</div>
		</div>
	</div>
	@if (chunkedFiles != null)
	{
		<Virtualize Items=@chunkedFiles Context="files" OverscanCount="5" ItemSize="191">
			@foreach (var file in files)
			{
				<Thumbnail file=@file selected=@(selectedFile == file) onclick="() => imageClick(file, true)" @key=@file />

				@if (file.Expanded)
				{
					<div class="divider">
						<div class="divider-text is-center">
							<span>
								@(
							expandedfiles.Count.ToString() + " gens of this prompt"
							)
							</span>
						</div>
					</div>

					foreach (var expandedFile in expandedfiles)
					{
						<Thumbnail file=@expandedFile selected=@(selectedFile == expandedFile) onclick="() => imageClick(expandedFile, false)" />
					}
					<div class="divider"></div>
				}
			}
		</Virtualize>
	}
	<HxOffcanvas @ref="offcanvasEnd" Placement="OffcanvasPlacement.End" ScrollingEnabled="true" Backdrop="OffcanvasBackdrop.False">
		<BodyTemplate>
			@if (selectedFile != null)
			{
				<FilePanel selectedFile="@selectedFile" onDelete="() => imageDelete()" onFullScreenView="(e) => fullScreenView.ShowAsync()" />
			}
		</BodyTemplate>
	</HxOffcanvas>

	<FullScreenView @ref=@fullScreenView selectedFile=@selectedFile onLeft=@leftKey onRight=@rightKey />
}
@code {

	private HxOffcanvas? offcanvasEnd;
	private FullScreenView? fullScreenView;

	static List<string> GroupModes = new List<string>() {
		"Each gen",
		"Grouped by prompt"
	};
	string GroupMode = GroupModes.First();
	private IList<PngFileViewModel> allFiles = null;
	private IList<PngFileViewModel> filteredFiles = null;
	private IList<List<PngFileViewModel>> chunkedFiles = null;
	private IList<PngFileViewModel> expandedfiles = null;
	private PngFileViewModel selectedFile = null;
	private bool RescanEnabled = true;
	private int width = 0;
	private string filter = "";

	Action<ChangeEventArgs> onInputDebounced;

	protected async override Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			onInputDebounced = Debounce<ChangeEventArgs>(e =>
			{
				this.InvokeAsync(() =>
				{
					this.filter = (string)e.Value;
					SetFiles();
					this.StateHasChanged();
				});
			}, TimeSpan.FromMilliseconds(300));

			resizeListener.OnResized += (sender, size) =>
			{
				width = size.Width;
				SetFiles();
				this.StateHasChanged();
			};

			width = (await resizeListener.GetBrowserWindowSize()).Width;
			LoadData();
			this.StateHasChanged();
		}

		await base.OnAfterRenderAsync(firstRender);
	}

	private void LoadData()
	{
		allFiles = pngfileDataSource.GetAll().Where(p => p.Exists == true).OrderByDescending(p => p.LastUpdated).Select(p => pngFileViewModelBuilder.BuildModel(p)).ToList();
		SetFiles();
	}

	void OnSelectGroupMode(ChangeEventArgs e)
	{
		GroupMode = e.Value.ToString();
		SetFiles();
		if (this.IsGrouped() == false)
		{
			expandedfiles = Enumerable.Empty<PngFileViewModel>().ToList();
		}
	}

	private void SetFiles()
	{
		if (string.IsNullOrWhiteSpace(filter) == false)
		{
			filteredFiles = allFiles.Where(p =>
				p.Prompt.Contains(filter, StringComparison.InvariantCultureIgnoreCase) ||
				p.Filename.Contains(filter, StringComparison.InvariantCultureIgnoreCase) ||
				p.Parameters?.Seed.ToString() == filter
			).ToList();
		}
		else
		{
			filteredFiles = allFiles.ToList();
		}

		var groupedFiles = this.IsGrouped() ?
			filteredFiles.GroupBy(p => p.FullPromptHash).Select(p => p.LastOrDefault()).ToList() :
			filteredFiles;

		chunkedFiles = groupedFiles.Chunk(this.RowSize).Select(p => p.ToList()).ToList();
	}

	private const int ThumbnailSize = 191;

	private int RowSize
	{
		get
		{
			return (width - 17) / ThumbnailSize;
		}
	}

	private bool IsGrouped()
	{
		return GroupMode == GroupModes[1];
	}

	private async void imageClick(PngFileViewModel model, bool isParent)
	{
		if (isParent && IsGrouped())
		{
			model.Expanded = !model.Expanded;
			foreach (var file in filteredFiles)
			{
				if (file.Expanded && file != model)
				{
					file.Expanded = false;
				}
			}

			if (model.Expanded)
			{
				expandedfiles = allFiles.Where(p => p.FullPromptHash == model.FullPromptHash).ToList();
			}
			else
			{
				expandedfiles = Enumerable.Empty<PngFileViewModel>().ToList();
			}

			this.selectedFile = model;
		}
		else
		{
			if (model == selectedFile)
			{
				await fullScreenView.ShowAsync();
			}

			this.selectedFile = model;
			await offcanvasEnd.ShowAsync();
		}
	}

	private async Task Rescan()
	{
		await Task.Run(() =>
		{
			var directory = configuration["ImageDir"];
			this.rescan.ProcessPngFiles(directory);
			logger.LogInformation("Rescan done");
		});
		LoadData();
	}

	public void Dispose()
	{
		pngfileDataSource.Dispose();
	}

	private async void imageDelete()
	{
		if (this.selectedFile != null)
		{
			File.Delete(this.selectedFile.Filename);
			await offcanvasEnd.HideAsync();
			var original = pngfileDataSource.ReadPngFile(this.selectedFile.Filename);
			original.Exists = false;
			pngfileDataSource.WritePngFile(original);
			this.thumbnailService.Delete(this.selectedFile.Filename);
			this.allFiles.Remove(selectedFile);
			this.filteredFiles.Remove(selectedFile);
			this.expandedfiles?.Remove(selectedFile);
			foreach (var row in chunkedFiles)
			{
				if (row.Contains(selectedFile))
				{
					row.Remove(selectedFile);
				}
			}
			this.selectedFile = null;
			this.StateHasChanged();
		}
	}

	private async void leftKey()
	{
		var index = filteredFiles.IndexOf(selectedFile);
		if (index > 0)
		{
			selectedFile = filteredFiles[index - 1];
		}
	}

	private async void rightKey()
	{
		var index = filteredFiles.IndexOf(selectedFile);
		if (index < filteredFiles.Count - 1)
		{
			selectedFile = filteredFiles[index + 1];
		}
	}

	// https://www.meziantou.net/debouncing-throttling-javascript-events-in-a-blazor-application.htm
	Action<T> Debounce<T>(Action<T> action, TimeSpan interval)
	{
		if (action == null) throw new ArgumentNullException(nameof(action));

		var last = 0;
		return arg =>
		{
			var current = System.Threading.Interlocked.Increment(ref last);
			Task.Delay(interval).ContinueWith(task =>
			{
				if (current == last)
				{
					action(arg);
				}
			});
		};
	}
}
