@page "/"
@using BlazorPro.BlazorSize;
@using SDMetaTool.Processors;
@using SDMetaUI.Models;
@using SDMetaTool;
@using System.IO.Abstractions;
@using System.Web;
@using SDMetaTool.Cache;
@using SDMetaUI.Services;
@using SDMetaUI.Shared;

@implements IDisposable;

@inject IPngFileDataSource pngfileDataSource
@inject Rescan rescan
@inject IConfiguration configuration;
@inject IThumbnailService thumbnailService;
@inject ILogger<Index> logger;
@inject IResizeListener resizeListener;
@inject PngFileViewModelBuilder pngFileViewModelBuilder;
@inject IHxMessengerService Messenger

<PageTitle>Gallery</PageTitle>
<HxMessenger Position="ToastContainerPosition.TopEnd" />

@if (viewModel.HasData == false)
{
	<LoadingSpinner></LoadingSpinner>
}
else
{
	<div class="container-fluid sticky-top">
		<div class="row p-2 menu-bar">
			<div class="col-md-3 col-xs-12 py-2 py-md-0">
				<label class="visually-hidden" for="filterInput">Filter</label>
				<input type="search" @oninput="onInputDebounced" class="form-control" id="filterInput" placeholder="filter">
			</div>
			<div class="col-md-3 col-xs-12 py-2 py-md-0">
				<label class="visually-hidden" for="modelSelect">Models</label>
				<select class="form-select" id="modelSelect" @onchange="OnSelectModel">
					@foreach (var template in this.modelsList)
					{
						<option value=@template.Id>@(template.Text)</option>
					}
				</select>
			</div>
			<div class="col-auto d-flex align-items-center py-2 py-md-0">
				<HxSwitch Text="Group by prompt" @bind-Value="@viewModel.IsGrouped" />
			</div>
			<div class="col-auto py-2 py-md-0">
				<HxButton Outline="false" Icon="BootstrapIcon.ArrowClockwise" Text="Rescan" Color="ThemeColor.Primary" @onclick="Rescan" />
			</div>
			<div class="col-auto ms-auto py-2">
				<h6>
					@if (viewModel.FilteredFileCount < viewModel.AllFileCount)
					{
						<text>
							@viewModel.FilteredFileCount of
						</text>
					}
					@viewModel.AllFileCount items
				</h6>
			</div>
		</div>
	</div>
	<div class="thumbnail-background">
		@if (viewModel.ChunkedFiles != null)
		{
			<Virtualize Items=@viewModel.ChunkedFiles Context="files" OverscanCount="5" ItemSize="191">
				@foreach (var file in files)
				{
					var selected = viewModel.SelectedFile == file;
					@if (viewModel.IsGrouped == false)
					{
						<Thumbnail file=@file selected=@selected onclick="(e) => imageClick(file)" @key=@file />
					}
					else
					{
						<Thumbnail file=@file selected=@selected onclick="(e) => imageClickParent(file)" @key=@file />

						@if (file.Expanded && (viewModel.Expandedfiles?.Any() ?? false))
						{
							<Divider Text=@(this.viewModel.Expandedfiles.Count.ToString() + " gens of this prompt")></Divider>
							foreach (var expandedFile in viewModel.Expandedfiles)
							{
								<Thumbnail file=@expandedFile selected=@(viewModel.SelectedFile == expandedFile) onclick="(e) => imageClick(expandedFile)" />
							}
							<Divider></Divider>
						}
					}
				}
			</Virtualize>
		}
	</div>
	<HxOffcanvas @ref="offcanvasEnd" Placement="OffcanvasPlacement.End" ScrollingEnabled="true" Backdrop="OffcanvasBackdrop.False">
		<BodyTemplate>
			@if (viewModel.SelectedFile != null)
			{
				<FilePanel selectedFile="@viewModel.SelectedFile" onDelete="() => imageDelete()" onFullScreenView="(e) => fullScreenView.ShowAsync()" />
			}
		</BodyTemplate>
	</HxOffcanvas>

	<FullScreenView @ref=@fullScreenView selectedFile=@viewModel.SelectedFile onLeft=@leftKey onRight=@rightKey />
}
@code {

	private HxOffcanvas? offcanvasEnd;
	private FullScreenView? fullScreenView;

	GalleryViewModel viewModel = new GalleryViewModel();
	Action<ChangeEventArgs> onInputDebounced;

	IList<ModelSummaryViewModel> modelsList;

	protected override void OnInitialized()
	{
		base.OnInitialized();
		this.modelsList = this.pngfileDataSource.GetModelSummaryList().Select((p, i) => new ModelSummaryViewModel()
			{
				Id = (i + 1).ToString(),
				Count = p.Count,
				Model = p.Model,
				ModelHash = p.ModelHash,
				Text = (p.ModelHash ?? "<empty>") + " (" + (p.Model ?? "<no name>") + ") [" + p.Count + "]",
			}).ToList();
		modelsList.Insert(0, new ModelSummaryViewModel() { Id = "0", Text = "-- all models --" });
	}

	protected async override Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			onInputDebounced = Debounce<ChangeEventArgs>(e =>
			{
				this.InvokeAsync(() =>
				{
					viewModel.Filter = (string)e.Value;
					this.StateHasChanged();
				});
			}, TimeSpan.FromMilliseconds(300));

			resizeListener.OnResized += (sender, size) =>
			{
				viewModel.Width = size.Width;
				this.StateHasChanged();
			};

			//viewModel.Width = (await resizeListener.GetBrowserWindowSize()).Width;
			LoadData();
			this.StateHasChanged();
		}

		await base.OnAfterRenderAsync(firstRender);
	}

	private void LoadData()
	{
		var data = pngfileDataSource.GetAll().Where(p => p.Exists == true).OrderByDescending(p => p.LastUpdated).Select(p => pngFileViewModelBuilder.BuildModel(p)).ToList();
		viewModel.Initialize(data);
	}

	void OnSelectModel(ChangeEventArgs e)
	{
		var selectedModelId = e.Value.ToString();
		var model = modelsList.FirstOrDefault(p => p.Id == selectedModelId);
		this.viewModel.ModelFilter = model.Id == "0" ? null : model;
	}

	private void imageClickParent(PngFileViewModel model)
	{
		this.viewModel.ToggleExpandedState(model);
		this.viewModel.SelectedFile = model;
	}

	private async void imageClick(PngFileViewModel model)
	{
		if (model == viewModel.SelectedFile)
		{
			await fullScreenView.ShowAsync();
		}
		else
		{
			this.viewModel.SelectedFile = model;
			await offcanvasEnd.ShowAsync();
		}
	}

	private async Task Rescan()
	{
		await Task.Run(() =>
		{
			var directory = configuration["ImageDir"];
			this.rescan.ProcessPngFiles(directory);
			logger.LogInformation("Rescan done");
		});
		LoadData();
	}

	public void Dispose()
	{
		pngfileDataSource.Dispose();
	}

	private async void imageDelete()
	{
		if (this.viewModel.SelectedFile != null)
		{
			try
			{
				await offcanvasEnd.HideAsync();

				var filename = this.viewModel.SelectedFile.FileName;

				File.Delete(filename);
				var original = pngfileDataSource.ReadPngFile(filename);
				original.Exists = false;
				pngfileDataSource.WritePngFile(original);
				this.thumbnailService.Delete(filename);

				this.viewModel.RemoveFile();
				this.StateHasChanged();
			}
			catch (Exception ex)
			{
				logger.LogError("Failed to delete.", ex);
				Messenger.AddError(title: "Delete", message: "Delete failed");
			}
		}
	}

	private async void leftKey()
	{
		viewModel.GetPrevious();
	}

	private async void rightKey()
	{
		viewModel.GetNext();
	}

	// https://www.meziantou.net/debouncing-throttling-javascript-events-in-a-blazor-application.htm
	Action<T> Debounce<T>(Action<T> action, TimeSpan interval)
	{
		if (action == null) throw new ArgumentNullException(nameof(action));

		var last = 0;
		return arg =>
		{
			var current = System.Threading.Interlocked.Increment(ref last);
			Task.Delay(interval).ContinueWith(task =>
			{
				if (current == last)
				{
					action(arg);
				}
			});
		};
	}
}
